    <footer>
        <div class="container">
            <p>&copy; 2025 {{author}}. All rights reserved.</p>
            <nav class="footer-nav">
                <a href="{{baseUrl}}/sitemap.xml">Sitemap</a>
                <a href="{{baseUrl}}/rss.xml">RSS</a>
            </nav>
        </div>
    </footer>
</body>
</html> 