{{> header title=title description=description baseUrl=baseUrl url=baseUrl isPost=false}}

<main id="main-content">
  <div class="container home-container">
    <header>
      <h1>Jordan Joe Cooper</h1>
      <p class="bio">{{description}}</p>
      <p class="contact-bio">I write with increasing irregularity on <a href="https://world.hey.com/jordanjoecooper" target="_blank" rel="noopener">HEY World</a> and <a href="https://jordanjoecooper.medium.com" target="_blank" rel="noopener">Medium</a>. Make a podcast about human history on <a href="https://pod.link/diaryofhumanity" target="_blank" rel="noopener">Diary of Humanity Podcast</a>. You can find me on <a href="https://x.com/jordanjoecooper" target="_blank" rel="noopener">X</a>, <a href="https://linkedin.com/in/jordanjoecooper" target="_blank" rel="noopener">LinkedIn</a>, and pushing code on <a href="https://github.com/jordanjoecooper" target="_blank" rel="noopener">GitHub</a>.</p>
    </header>
  </div>
</main>

{{> footer baseUrl=baseUrl}} 