{{> header title=(concat "Writing - " author) description=description baseUrl=baseUrl url=baseUrl isPost=false}}
<main id="main-content">
  <h1>Writing</h1>
  <p style="margin-bottom:1.5em;">
    I write a lot in private and rarely publish anything. However, I am on a mission to change that and aim to share more of my thoughts and ideas. Why? Well, why not? Creatiing somewthing new is what led me to programming and I think sharing ideas and thoughts is useful even if no one reads it. If eventually it helps one person or leads to a connection or discussion of ideas then it's worth it.<br/>
    Below and on Hey World and Medium you will find notes, scribbles, thoughts and sometimes fully fledged articles.
  </p>
  <ul class="writing-list">
    {{#each posts}}
    <li class="writing-item">
      <h2 class="writing-title"><a href="posts/{{slug}}.html">{{title}}</a></h2>
      <div class="writing-meta">
        <time datetime="{{date}}">{{formattedDate}}</time>
      </div>
    </li>
    {{/each}}
  </ul>
</main>
{{> footer baseUrl=baseUrl}} 