{{> header title="Writing - " description=description baseUrl=baseUrl url=baseUrl isPost=false}}
<main>
  <h1>Writing</h1>
  <ul class="writing-list">
    {{#each posts}}
    <li class="writing-item">
      <h2 class="writing-title"><a href="posts/{{slug}}.html">{{title}}</a></h2>
      <div class="writing-meta">
        <time datetime="{{date}}">{{formattedDate}}</time>
      </div>
    </li>
    {{/each}}
  </ul>
</main>
{{> footer baseUrl=baseUrl}} 